body{
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(102, 168, 255);
body {
    background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  color: black;
  font-family: verdana;
  font-size: 10px;
}
}